@charset "utf-8";

/* 가운데 영역 */
.container { width: 1180px; height: inherit; margin: 0 auto; }

/* 스킵 */
.skip { position: relative; }
.skip a { 
    position: absolute; top: -50px; left: 0; width: 140px; border: 1px solid #444; 
    background-color: #333; color: #fff; text-align: center; padding: 10px 0;
}
.skip a:focus, .skip a:active { top: 0; }

/* 팝업 */
.popup {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 999;
    padding: 10px;
    border-radius: 15px;
    background-color: #b4d4ee;
}
.popup.none {
    display: none;
}
.popup .cancle_btn {
    width: 100%;
    display: block;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}
.popup p {
    padding-top: 50px;
    font-size: 18px;
}

/* 챗봇 */
.chatbot { position: fixed; right: 15px; bottom: 100px; z-index: 100; }
.chatbot p a img { width: 136px; height: 62px; }

/* 사이트맵 */
#sitemap { display: none; transition: all .4s ease; }
#sitemap.show { display: block; }
.sitemap { position: fixed; right: 15px; bottom: 30px; z-index: 110; }
.sitemap span { 
    display: block; width: 60px; height: 60px; line-height: 20px; text-align: center; padding-top: 15px;
    background-color: #3395d6;  border-radius: 50%; box-sizing: border-box;
}
.sitemap span a.goto_top em { color: #fff; font-size: 16px; display: block; }
.sitemap span a.goto_top i { display: block; color: #fff; font-size: 16px; }

/* 헤더 */
#header { height: 89px; border-bottom: 1px solid #efefef; }
.header h1 { float: left; padding-top: 22px; }
.header .gnb { float: left; }
.header .gnb ul { text-align: center; margin-left: 20px; } 
.header .gnb ul li { display: inline-block; position: relative; } 
.header .gnb ul li.after::after { 
    content: "";  width: 1px; height: 18px; background-color: #333; 
    display: inline-block; position: absolute; top: 38px; right: -2px;
}
.header .gnb ul li a { font-size: 18px; font-weight: 600; padding: 34px 10px 26px; display: inline-block; }
.header .gnb ul li a:hover { color: #1d7abd; border-bottom: 3px solid #1d7adb; }
.header .quick { float: right; text-align: center;  }
.header .quick .top { display: inline-block; }
.header .quick li { display: inline-block; position: relative; }
.header .quick li.after::after { 
    content: "";  width: 1px; height: 16px; background-color: #888; 
    display: inline-block; position: absolute; top: 37px; right: -2px;
}
.header .quick li a { 
    font-size: 16px; font-weight: 300; padding: 34px 8px 26px; 
    display: inline-block; color: #888; border-radius: 2px; 
}
.header .quick li.block a { 
    padding: 3px 15px; font-size: 14px; font-weight: 400; margin-bottom: 26px;
    background-color: #999; color: #fff; display: inline-block; 
}
.header .quick li.block:hover { border-bottom: 3px solid #1d7adb; }
.header .quick li.block:hover a { background-color: #666; }

/* 모바일 햄버거 버튼 */
.mGnb { display: none; position: absolute; top: 10px; left: 10px;}
.mGnb .bar_wrap { width: 40px; height: 50px; } 
.mGnb .bar_wrap .bar { position: absolute; left: 5px; width: 20px; height: 2px; background-color: #333; }
.mGnb .bar_wrap .bar.one { top: 19px; }
.mGnb .bar_wrap .bar.two { top: 26px; }
.mGnb .bar_wrap .bar.three { top: 33px; }

/* 배너 */
#banner { border-bottom: 1px solid #efefef; }
.banner_wrapper .banner { padding: 80px 40px;}
.banner_wrapper .banner h2 { font-size: 40px; font-weight: 600; margin-bottom: 30px; }
.banner_wrapper .banner p .view { 
    display: inline-block; font-size: 16px; font-weight: 400;
    padding: 10px 50px; border: 1px solid #333; border-radius: 3px; 
}
.banner_wrapper .banner p .view:hover { background-color: #333; color: #fff; transition: all .3s ease; }
.banner_wrapper .banner_img1 h2, 
.banner_wrapper .banner_img2 h2,
.banner_wrapper .banner_img5 h2 { color: #fff; }
.banner_wrapper .banner_img1 p .view, 
.banner_wrapper .banner_img2 p .view, 
.banner_wrapper .banner_img5 p .view { border: 1px solid #fff; color: #fff; }
.banner_wrapper .banner_img1 p .view:hover, 
.banner_wrapper .banner_img2 p .view:hover, 
.banner_wrapper .banner_img5 p .view:hover { background-color: #fff; color: #333; }
.banner_wrapper .banner_img1 { background: url(../img/banner-bg2.png) no-repeat center; background-size: cover; }
.banner_wrapper .banner_img2 { background: url(../img/banner-bg3.png) no-repeat center; background-size: cover; }
.banner_wrapper .banner_img3 { background: url(../img/banner-bg4.png) no-repeat center; background-size: cover; }
.banner_wrapper .banner_img4 { background: url(../img/banner-bg5.png) no-repeat center; background-size: cover; }
.banner_wrapper .banner_img5 { background: url(../img/banner-bg6.png) no-repeat center; background-size: cover; }

/* 도메인 검색 */
#search { background-color: #f9f9f9; padding: 20px 0; }
.search .dm_search { position: relative; }
.search .dm_search .input_search { 
    width: 980px; height: 55px; padding-left: 40px; box-sizing: border-box; border: 0; 
    border: 1px solid #ccc; border-radius: 5px 0 0 5px; font-size: 20px; font-weight: 400;
}
.search .sc_btn { 
    position: absolute; top: 0; right: 0; width: 200px; height: 55px; background-color: #1d7adb;
    color: #fff; font-size: 20px; font-weight: 400; border-radius: 0 5px 5px 0; cursor: pointer;
}
.search .sc_btn span { padding-left: 15px; }

/* s배너 */
#sbanner { border-top: 1px solid #efefef; padding: 50px 0; }
.sbanner > div { float: left; width: 23.5%; margin-right: 2%; }
.sbanner > div:last-child { margin-right: 0; }
.sbanner > div a { 
    border: 1px solid #ccc; border-radius: 5px;
    text-align: center; padding: 20px 0; display: block;
}
.sbanner > div a:hover { border-color: #333; }
.sbanner > div h4 { font-size: 20px; font-weight: 400; }
.sbanner > div p { font-size: 16px; color: #676767; font-weight: 300; }

/* 노티스 */
#notice { padding-bottom: 50px; }
.notice .notice_wrap .new { float: left; width: 48.5%; margin-right: 2%; }
.notice .notice_wrap .new h4 { font-size: 30px; padding-bottom: 10px; display: inline-block; }
.notice .notice_wrap .new a.total { display: inline-block; font-size: 16px; font-weight: 300; padding-left: 20px; }
.notice .notice_wrap .new a.total i { vertical-align: text-top; }
.notice .notice_wrap .new ul { border-top: 2px solid #333; }
.notice .notice_wrap .new ul li { padding: 10px 0; overflow: hidden; letter-spacing: -1px; }
.notice .notice_wrap .new ul li:first-child { padding-top: 20px; }
.notice .notice_wrap .new ul li:last-child { padding-bottom: 0; }
.notice .notice_wrap .new ul li p { 
    width: 56px; height: 20px; margin-right: 10px; padding: 3px 7px; 
    float: left; background-color: #666; color: #fff; border-radius: 3px; text-align: center;
}
.notice .notice_wrap .new ul li a { 
    float: left; width: 60%; font-size: 16px; font-weight: 300; 
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.notice .notice_wrap .new ul li span { float: right; width: 20%; text-align: right; font-size: 16px; font-weight: 300; color: #999; }
.notice .notice_wrap .event { float: right; width: 48.5%; }
.notice .notice_wrap .event h4 { font-size: 30px; padding-bottom: 10px; display: inline-block; }
.notice .notice_wrap .event a.total { display: inline-block; font-size: 16px; font-weight: 300; padding-left: 20px; }
.notice .notice_wrap .event a.total i { vertical-align: text-top; }
.notice .notice_wrap .event ul { border-top: 2px solid #333; }
.notice .notice_wrap .event ul li { padding: 10px 0; overflow: hidden; letter-spacing: -1px; }
.notice .notice_wrap .event ul li:first-child { padding-top: 20px; }
.notice .notice_wrap .event ul li:last-child { padding-bottom: 0; }
.notice .notice_wrap .event ul li p { 
    width: 56px; height: 20px; margin-right: 10px; padding: 3px 7px; 
    float: left; background-color: #666; color: #fff; border-radius: 3px; text-align: center;
}
.notice .notice_wrap .event ul li a { 
    float: left; width: 60%; font-size: 16px; font-weight: 300; 
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.notice .notice_wrap .event ul li span { float: right; width: 20%; text-align: right; font-size: 16px; font-weight: 300; color: #999; }

/* 셀렉트 */
#select { background-color: #1d7adb; }
.select { background: url(../img/select_model.png) no-repeat left; background-size: contain; }
.select .left_img { float: left; width: 50%; position: relative; }
.select .left_img p { position: absolute; top: 60px; left: 0; color: #fff; }
.select .right_info { float: right; width: 50%; padding: 50px 0; display: block; }
.select .right_info h4 { color: #fff; font-size: 36px; font-weight: 300; }
.select .right_info ul { padding-top: 50px; }
.select .right_info ul li { padding: 30px; margin-top: 20px; box-shadow: 0 1px 5px rgb(0,0,0,20%); border-radius: 5px; }
.select .right_info ul .slt_info { background: #2886ca url(../img/slt_info.svg) no-repeat center right 30px; background-size: 60px; }
.select .right_info ul .slc_info { background: #2886ca url(../img/slc_info.svg) no-repeat center right 30px; background-size: 60px; }
.select .right_info ul .slb_info { background: #2886ca url(../img/slb_info.svg) no-repeat center right 30px; background-size: 60px; }
.select .right_info ul li:first-child { margin-top: 0; }
.select .right_info ul li .title { padding-bottom: 10px; display: block; color: #fff; font-size: 20px; font-weight: 600; }
.select .right_info ul li .text { display: block; color: #eee; font-size: 16px; font-weight: 300; }

/* 인포 */
#infor { padding: 70px 0; }
.infor { text-align: center; }
.infor h3 { font-size: 40px; font-weight: 300; }
.infor p { font-size: 14px; font-weight: 400; padding-top: 10px; color: #676767; }
.infor .infor_box .if_btn { padding: 40px 0; }
.infor .infor_box .if_btn li a { 
    width: 200px; display: inline-block; padding: 15px 0; margin-right: 30px;
    border: 1px solid #333; border-radius: 5px; font-size: 16px; font-weight: 400; 
}
.infor .infor_box .if_btn li a:hover { background-color: #333; color: #fff; transition: all .3s ease; }
/* .infor .infor_box .if_btn li a:last-child { margin-right: 0; } */
.infor .infor_box .if_num { padding-bottom: 20px; }
.infor .infor_box .if_num li { display: inline-block; margin-right: 20px; font-size: 16px; font-weight: 400; }
.infor .infor_box .if_num li:last-child { margin-right: 0; }
.infor .infor_box .if_num li strong { padding-left: 10px; color: #1d7adb; font-weight: 300; }
.infor .infor_box .if_text li { display: inline-block; margin-right: 10px; font-size: 16px; font-weight: 300; }
.infor .infor_box .if_text li:last-child { margin-right: 0; }
.infor .infor_box .if_text li span { 
    display: inline-block; width: 8px; height: 8px; 
    background-color: #333; border-radius: 50%; margin: 0 5px 1px 0; 
}

/* 라이브러리 */
#library { padding: 70px 0; }
.library h3 { font-size: 34px; padding-bottom: 30px; }
.library .library_wrap { margin-bottom: 80px; }
.library .library_wrap > div { float: left; width: 23.5%; margin-right: 2%; }
.library .library_wrap > div:last-child { margin-right: 0; }
.library .library_wrap > div h4 { height: 90px; border-top: 2px solid #333; padding: 20px 0; font-size: 20px; font-weight: 400; }
.library .library_wrap > div p { height: 150px; font-size: 16px; font-weight: 300; margin-bottom: 40px; } 
.library .library_wrap > div figure img { width: 100%; border-radius: 5px; }
.library .notice_wrap .nw_left { float: left; width: 68.5%; margin-right: 1.5%; }
.library .notice_wrap .nw_left h3 { font-size: 34px; padding-bottom: 10px; display: inline-block; }
.library .notice_wrap .nw_left a.total { display: inline-block; font-size: 16px; font-weight: 300; padding-left: 20px; }
.library .notice_wrap .nw_left a.total i { vertical-align: text-top; } 
/* .library .notice_wrap .nw_left a.total::after { content: "\f054"; font: var(--fa-font-solid); margin-left: 5px; vertical-align: text-top; } */
.library .notice_wrap .nw_left ul { border-top: 2px solid #333; }
.library .notice_wrap .nw_left ul li { overflow: hidden; border-bottom: 1px solid #ccc; padding: 20px 10px; }
.library .notice_wrap .nw_left ul li a { float: left; width: 80%; font-size: 16px; font-weight: 300; }
.library .notice_wrap .nw_left ul li span { float: right; width: 20%; text-align: right; font-size: 16px; font-weight: 300; color: #999; }
.library .notice_wrap .nw_right { float: right; width: 30%; }
.library .notice_wrap .nw_right h3 { font-size: 34px; padding-bottom: 10px; border-bottom: 2px solid #333; }
.library .notice_wrap .nw_right ul { height: 134px; border-bottom: 1px solid #ccc; padding: 30px 0; }
.library .notice_wrap .nw_right ul li { padding: 11px 0 11px 20px; font-size: 16px; font-weight: 300; color: #999; }
.library .notice_wrap .nw_right ul li span { 
    background-color: #666; color: #fff; border-radius: 3px;
    padding: 5px 7px; margin-right: 10px; 
}

/* 사이트 전체메뉴 */
#site { background-color: #f8f9fa; padding: 70px 0; }
.site .site_top { border-bottom: 1px solid #ccc; padding-bottom: 30px; }
.site .site_top > div { width: 16.666%; float: left; } 
.site .site_top > div img, .site .site_btm > div img { width: 32px; height: 13px; vertical-align: middle; margin-left: 5px; }
.site .site_top > div.four { width: 33.22222%; }
.site .site_top > div.four ul li { width: 50%; float: left; }
.site .site_top > div h4 a { font-size: 16px; font-weight: 600; padding-bottom: 20px; display: inline-block; }
.site .site_top > div ul li { padding: 5px 0; }
.site .site_top > div ul li a { font-size: 16px; font-weight: 300; letter-spacing: -1px; }
.site .site_btm { padding-top: 30px; }
.site .site_btm > div { width: 16.666%; float: left; } 
.site .site_btm > div.one, .site .site_btm > div.two { width: 33.22222%; }
.site .site_btm > div.one ul li, .site .site_btm > div.two ul li { width: 50%; float: left; }
.site .site_btm > div h4 a { font-size: 16px; font-weight: 600; padding-bottom: 20px; display: inline-block;  }
.site .site_btm > div ul li { padding: 5px 0; }
.site .site_btm > div ul li.pb { padding: 10px 0; }  
.site .site_btm > div ul li.pb a { font-weight: 600; }  
.site .site_btm > div ul li.first { padding-top: 30px; }  
.site .site_btm > div ul li a { font-size: 16px; font-weight: 300; letter-spacing: -1px; }

/* 푸터 */
#footer { padding: 50px 0 100px; }
.footer { padding: 50px 0 100px; position: relative; }
.footer .footer_menu ul.policy li { display: inline-block; padding: 0 20px 0 10px; position: relative; }
.footer .footer_menu ul.policy li:first-child { padding-left: 0; }
.footer .footer_menu ul.policy li:after { 
    display: inline-block; content: ""; width: 1px; height: 16px; background-color: #ccc; 
    position: absolute; top: 3px; right: 3px;
}
.footer .footer_menu ul.policy li a { font-size: 16px; font-weight: 400; }
.footer .footer_menu ul.policy li.last:after { display: none; }
.footer .footer_menu ul.policy li.last a { color: #1d7abd; } 
.footer .footer_menu .m_sns { display: none; }
.footer .footer_menu .m_sns ul li { display: inline-block; padding: 20px 10px 0 0; }
.footer .footer_menu .address { padding: 30px 0; }
.footer .footer_menu .address ul li { padding-bottom: 10px; font-size: 14px; font-weight: 300; color: #666; }
.footer .footer_menu .address ul li span { padding-right: 20px; }
.footer .footer_menu .address p { font-size: 14px; font-weight: 300; color: #666; padding-top: 10px; }
.footer .footer_menu ul.icon { overflow: hidden; }
.footer .footer_menu ul.icon li { float: left; width: 35px; height: 35px; margin-right: 20px; }
.footer .footer_menu ul.icon li.kosdaq { margin-right: 0; padding-top: 10px; }
.footer .footer_menu ul.icon li.kosdaq img { width: 50px; height: 30px; }
.footer .footer_family { position: absolute; top: 50px; right: 0; }
.footer .footer_family select { 
    background-color: #f8f9fa; width: 145px; height: 44px; padding-left: 10px;  
    border: 0; border: 1px solid #ccc; border-radius: 3px;
}
.footer .footer_family .fm_btn { width: 80px; height: 44px; margin-left: 1px; border: 1px solid #ccc; border-radius: 3px; }
.footer .footer_family .sns ul { text-align: right; }
.footer .footer_family .sns ul li { display: inline-block; padding: 20px 0 0 10px; }

